@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia/Georgia-Bold.eot");
  src: local("Georgia Bold"), local("Georgia-Bold"),
    url("../../assets/fonts/Georgia/Georgia-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Georgia/Georgia-Bold.woff2") format("woff2"),
    url("../../assets/fonts/Georgia/Georgia-Bold.woff") format("woff"),
    url("../../assets/fonts/Georgia/Georgia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia/Georgia.eot");
  src: local("Georgia"),
    url("../../assets/fonts/Georgia/Georgia.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Georgia/Georgia.woff2") format("woff2"),
    url("../../assets/fonts/Georgia/Georgia.woff") format("woff"),
    url("../../assets/fonts/Georgia/Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background: #ffffff;
  width: 100%;
  position: fixed;
}
.header-context {
  max-width: 1200px;
  padding: 30px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #545454;
  padding-top: 1px;
  height: 34px;
}
.logo p {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #292929;
  letter-spacing: 0.1em;
  margin-top: 10px;
  padding-left: 4px;
  padding-top: 1px;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 443px;
  padding-bottom: 4px;
}
header nav ul li {
  display: flex;
}
header nav ul li a {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #545454;
  text-decoration: none;
  transition: all 0.5s;
}
header nav ul li a:hover {
  color: #292929;
}
.header-active {
  border-bottom: 3px solid #f1cdb3;
}
.header-active a {
  color: #545454;
  padding-top: 2px;
}
.menu-burger {
  display: none;
}

main {
  background: #f6f6f6;
  padding-top: 120px;
  width: 100%;
}
section {
  max-width: 1200px;
  padding: 80px 0 100px 0;
  margin: 0 auto;
}
section h3 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0 auto;
  text-align: center;
  padding-top: 1px;
  padding-left: 2px;
  height: 90px;
}
.cards-container {
  margin: 45px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all 0.5s ease;
}
.cards-container li {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: center;
  background: #fafafa;
  transition: all 0.5s ease;
}
.cards-container li:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: #ffffff;
}
.cards-container p {
  margin: 30px 0;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  padding-left: 2px;
}
.cards-container a {
  width: 187px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
  margin-bottom: 30px;
  padding-left: 1px;
  transition: all 0.5s ease;
}
.cards-container a:hover {
  background: #fddcc4;
  border: none;
}
section nav {
  margin: 45px auto 0 auto;
  max-width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #cdcdcd;
  border: 2px solid #cdcdcd;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  padding-bottom: 2px;
}
.section-link-active {
  color: #292929;
  background: #f1cdb3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
.nextlink {
  color: #292929;
  border: 2px solid #f1cdb3;
  cursor: pointer;
}
.nextlink:hover {
  background: #fddcc4;
  border: none;
}

footer {
  background: url(../../assets/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}
.footer-content {
  max-width: 1200px;
  padding-top: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-elements {
  margin-top: 16px;
  height: 234px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.footer-elements h3 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-top: 1px;
  max-width: 280px;
}
.footer-elements a {
  display: flex;
  align-items: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  text-decoration: none;
}
.footer-elements a p {
  margin-left: 20px;
}
.location {
  max-width: 304px;
}
.location h3 {
  padding-left: 1px;
}
.location h3 + a {
  padding-bottom: 1px;
}
.emailfoto {
  padding-bottom: 1px;
}

@media (max-width: 1279px) {
  .header-context {
    margin: 0 30px;
  }
  section {
    padding: 60px 0 70px 0;
  }
  section h3 {
    margin-top: 20px;
  }
  .cards-container {
    margin: 30px 0 0 0;
    display: grid;
    grid-template-columns: 270px 270px;
    grid-column-gap: 40px;
    justify-content: center;
  }
  .cards-container li {
    margin: 0;
    margin-bottom: 30px;
  }
  .cards-container li:nth-child(n + 7) {
    display: none;
  }
  .cards-container li:nth-child(n + 5) {
    margin-bottom: 0;
  }
  section nav {
    margin: 40px auto 6px auto;
  }
  .footer-content {
    padding-top: 30px;
    max-width: 708px;
    flex-wrap: wrap;
  }
  .footer-image {
    margin: 65px auto 0;
  }
  .footer-elements {
    margin-top: 0;
  }
  .contacts {
    margin-left: 34px;
  }
  .location {
    margin-right: 34px;
    width: 302px;
  }
  .contacts h3 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .header-context {
    margin: 0;
    margin: 0 50px 0 auto;
    max-width: 260px;
  }
  header nav ul {
    display: none;
  }
  .menu-burger {
    display: block;
    margin-right: 3px;
  }

  section {
    padding: 0;
    margin: 42px auto 0;
    max-width: 300px;
  }
  section h3 {
    font-size: 25px;
    padding-top: 0;
    padding-left: 1px;
    height: 64px;
  }
  .cards-container {
    margin: 42px auto 0 auto;
    grid-template-columns: 270px;
  }
  .cards-container li:nth-child(n + 4) {
    display: none;
  }
  .cards-container li:nth-child(3) {
    margin: 0;
  }
  section nav {
    max-width: 300px;
    padding: 42px 0;
    margin: 0 auto;
  }
  .footer-content {
    max-width: 300px;
    justify-content: center;
  }
  .footer-elements h3 {
    max-width: 274px;
    font-size: 25px;
    text-align: center;
    padding-top: 0px;
    padding-left: 0px;
  }
  .footer-elements a {
    max-width: 252px;
    margin: 0 auto;
  }
  .footer-elements a p {
    padding-right: 1px;
  }
  .emailfoto {
    padding-bottom: 0px;
  }
  .contacts {
    max-width: 278px;
    height: 208px;
    margin: 0;
  }
  .location {
    max-width: 300px;
    height: 222px;
    margin: 40px 0 0 0;
  }
  .location h3 {
    max-width: 270px;
    margin: 0 auto;
  }
  .location a {
    max-width: 300px;
    margin: 0;
  }
  .location a p {
    max-width: 258px;
  }
  .location a + a p {
    padding-bottom: 1px;
  }

  .footer-image {
    margin: 40px auto 0;
    width: 260px;
    height: 269px;
  }
}
