* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background: url(assets/images/overlay.png); */
  text-shadow: rgb(8, 134, 46) 1px 0 15px;
}

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  color: white;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  transition: background-image 1s ease-in-out;
}

.quote {
  font: 1.2rem Georgia, serif;
  border-radius: 1em;
  margin-top: 10px;
  padding: 0 10px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  width: 450px;
}
blockquote {
  transition: 0.5s;
}
.quote figure {
  width: 380px;
}
.btn {
  border: 0;
  background: url(assets/images/update-button.png);
  background-size: contain;
  background-repeat: no-repeat;
  outline: 0;
  transition: all 1s ease;
}
.btnbg {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 60px;
  height: 60px;
}
.btnquote {
  margin-right: 0;
  width: 40px;
  height: 40px;
}
.btn:hover {
  filter: grayscale(0.9);
  cursor: pointer;
}

.time {
  font-size: 8rem;
  font-family: "Roboto Mono", monospace;
}

.time-date {
  font-size: 4rem;
}

h1 {
  margin-bottom: 1rem;
  margin-top: 10px;
}

h2 {
  opacity: 0.8;
}
.city {
  font-size: 2rem;
  margin-top: 10px;
  outline: 0;
  width: 270px;
  overflow: hidden;
  height: 40px;
}
.name {
  width: 300px;
  overflow: hidden;
  height: 40px;
}
.focus {
  width: 300px;
  overflow-x: hidden;
  height: 30px;
}
.temperature {
  font-size: 2rem;
}
.weather-description,
.windspeed,
.humidity {
  font-size: 1.5rem;
}

.weather-city {
  position: absolute;
  left: 20px;
  top: 20px;
}
.mistake {
  display: none;
  font-weight: 600;
  padding-top: 20px;
  font-size: 20px;
}
.show {
  display: block;
}
.hide {
  display: none;
}
@media (max-width: 1450px) {
  h1 {
    font-size: 24px;
  }
  .weather-city {
    position: static;
  }
  .time {
    font-size: 4rem;
  }
  .time-date {
    font-size: 2.5rem;
  }
  .weather-icon.owf {
    font-size: 80px;
  }
  .weatherframe {
    height: 181px;
  }
  .name {
    height: 30px;
  }
  .temperature,
  .weather-description,
  .windspeed,
  .humidity {
    font-size: 20px;
  }
}
@media (max-width: 1050px) {
  .time {
    font-size: 4rem;
  }
  .time-date {
    font-size: 2.5rem;
  }

}

@media (max-width: 800px) {
  .btnbg {
    width: 45px;
    height: 45px;
  }
  .time {
    font-size: 3rem;
  }
  .time-date {
    font-size: 2rem;
  }
}

@media (max-width: 550px) {
  .city {
    font-size: 24px;
    height: 30px;
  }
  .time {
    font-size: 2rem;
  }
  .time-date {
    font-size: 1.5rem;
  }
  .quote {
    width: 310px;
    height: 66px;
  }
  .quote figure {
    width: 278px;
  }
  .btnquote {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 420px) {
  .btnbg {
    width: 30px;
    height: 30px;
  }
  .city {
    font-size: 18px;
    height: 23px;
  }
  .name {
    height: 23px;
  }
  .time {
    font-size: 1.5rem;
  }
  .time-date {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
  }
  .temperature,
  .weather-description,
  .windspeed,
  .humidity {
    font-size: 18px;
  }
  .weatherframe {
    height: 173px;
  }
  .focus {
    height: 25px;
  }
}
